* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-color: #000;
  --heading-color: #E1A011;
  --link-color: #21536C;
  --bg-color: #fff;
}

body {
  background: var(--bg-color);
}


.menu-open-search {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 311px;
  overflow: hidden;
}

.menu-open-search .overlap {
  position: absolute;
  width: 100%;
  height: 310px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.menu-open-search.menu-active .overlap {
  transform: translateY(0);
}

.menu-open-search .overlap-group {
  position: relative;
  width: 1280px;
  height: 220px;
  top: 90px;
  left: 0;
}



.menu-open-search .accordion {
  position: relative;
  width: 1280px;
  height: 220px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}


.menu-open-search .services,
.menu-open-search .information {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  width: 415px;
  height: 130px;
  top: 21px;
}

.menu-open-search .services.visible,
.menu-open-search .information.visible {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.menu-open-search .services {
  width: 415px;
  height: 130px;
  top: 21px;
  left: 641px;
}


.menu-open-search .text-wrapper {
  position: absolute;
  width: 149px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.menu-open-search .div { /* change to text-wrapper-1*/
  position: absolute;
  width: 195px;
  top: 55px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.menu-open-search .text-wrapper-2 {
  position: absolute;
  width: 174px;
  top: 97px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.menu-open-search .text-wrapper-3 {
  position: absolute;
  width: 180px;
  top: 100px;
  left: 215px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.menu-open-search .text-wrapper-4 {
  position: absolute;
  width: 190px;
  top: 55px;
  left: 215px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.menu-open-search .information {
  /* Adjust positioning as needed */
  width: 340px;
  height: 174px;
  top: 19px;
  left: 238px;
}

.menu-open-search .text-wrapper-5 {
  position: absolute;
  width: 156px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.menu-open-search .text-wrapper-6 {
  position: absolute;
  width: 132px;
  top: 99px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

.menu-open-search .text-wrapper-7 {
  position: absolute;
  width: 60px;
  top: 51px;
  left: 202px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

.menu-open-search .text-wrapper-8 {
  position: absolute;
  width: 126px;
  top: 99px;
  left: 202px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap; 
  cursor: pointer;
}

.menu-open-search .text-wrapper-9 {
  position: absolute;
  width: 166px;
  top: 149px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

.menu-open-search .text-wrapper-10 {
  position: absolute;
  width: 148px;
  top: 51px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #21526b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

.menu-open-search .separator {
  position: absolute;
  width: 1px;
  height: 150px;
  top: 37px;
  left: 600px;
  object-fit: cover;
  transition: opacity 0.3s ease, display 0s ease 0.3s; /* Add transition for display property */
  opacity: 0;
  display: none; /* Set to none initially */
}

.menu-open-search .separator.visible {
  opacity: 1;
  pointer-events: auto;
  margin-top: 20px;
  display: block;
}

.menu-open-search .menu-link.active {
  display: none; /* Hide menu link when menu is open */
}
.menu-open-search .search-link.active {
  display: none; /* Hide search link when menu is open */
}

.menu-open-search .menu-link {
  position: absolute;
  width: 102px;
  height: 50px;
  top: 20px;
  left: 936px;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.menu-open-search .menu-link:hover {
  transform: scale(1.1); 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1px);
  }
  60% {
    transform: translateY(-1px);
  }
}

.menu-open-search .menu-link:hover {
  animation: bounce 1s ease infinite;
}

.menu-open-search .overlap-group-2 {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.menu-open-search .text-wrapper-11 {
  position: absolute;
  width: 48px;
  top: 13px;
  left: 15px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.menu-open-search .bx.bxs-chevron-down {
  position: absolute;
  padding-top: 13px;
  padding-left: 62px;
  font-size: 18px;
  height: 18px;
}

.menu-open-search .bx.bxs-chevron-up {
  position: absolute;
  padding-top: 13px;
  padding-left: 62px;
  font-size: 18px;
  height: 18px;
}

.menu-open-search .search-link {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 1059px;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}
.menu-open-search .search-link i {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
  font-size: 20px; 
  color: #000000;
  line-height: normal;
}

.menu-open-search .bx-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

.menu-open-search .logo-and-heading {
  position: absolute;
  width: 338px;
  height: 50px;
  top: 20px;
  left: 210px;
}

.menu-open-search .USC-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.menu-open-search .overlap-2 {
  position: absolute;
  width: 270px;
  height: 39px;
  top: 7px;
  left: 64px;
}

.menu-open-search .text-wrapper-12 {
  position: absolute;
  width: 270px;
  top: 16px;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.menu-open-search .text-wrapper-13 {
  position: absolute;
  width: 177px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.menu-open-search .container-card {
  position: relative;
  width: 1000px;
  height: 91px;
  /* top: 1636px;
  left: 6297px; */
  margin-top: 20px; /* Adjust margin as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.menu-open-search .menu-link a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.menu-open-search .search-link i {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
  font-size: 20px; 
  color: #000000;
  line-height: normal;
}

body .container-card {
  max-width: 1000px;
  max-height: 610px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-card p {
  font-size: 20px;
}

.container-card a {
  text-decoration: underline;
  color: var(--link-color);
}

.container-card h1 {
  max-width: 608px;
  max-height: 117px;
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  margin: 80px 0 28px;
}

.container-card .text {
  max-width: 942px;
  max-height: 74px;
  margin: 0 29px 19px;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
}

.container-card .links {
  width: 100%;
  padding: 0 21.4% 0;
  display: flex;
  justify-content: space-between;
}

.container-card .links div {
  padding-top: 10px;
}

.container-card .links div:nth-child(1) {
  max-width: 244px;
  max-height: 35px;
  text-align: center;
}

.container-card .links div:nth-child(2) {
  max-width: 37.765px;
  max-height: 36.661px;

}

.container-card .links div:nth-child(3) {
  max-width: 271px;
  max-height: 37px;
  text-align: right;
}

.container-card .status-code {
  max-width: 213px;
  max-height: 37px;
  margin: 61px 0 157px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
}


.search-bar .input-section {
  position: relative;
  width: 602px;
  height: 40px;
  top: 87px;
  left: 340px;
}

.menu-open-search .search-wvsu{
position: absolute ;
 width: 291px;
 bottom:60px;
 left: 137px;
 font-family: "Poppins-SemiBold", Helvetica;
 font-weight: 600;
 color: #000000;
 font-size: 24px;
 text-align: center;
 letter-spacing: 0;
 line-height: normal;
}

.search-bar .overlap-group {
  position: relative;
  width: 600px;
  height: 40px;
  top: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.search-bar .search-button {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 560px;
  background-color: #a6a4ba6e;
}

.search-bar .vector {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
}


.search-bar .text-wrapper {
  position: absolute;
  width: 75px;
  top: 6px;
  left: 22px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #8f8b8b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

@media screen and (max-width: 1080px) {
  .container-card .links {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .USC .USC-logo {
      margin-left: 0;
  }

  .container-card .text br {
      display: none;
  }
}

@media screen and (max-width: 680px) {
  .header-card {
      padding: 20px 24px 20px 32px;
  }

  .container-card h1 {
      font-size: 50px;
  }

  .container-card .links {
      margin-top: 50px;
  }
}

@media screen and (max-width: 550px) {
  .USC .text {
      display: none;
  }

  body .container-card {  
      margin: 0 27px 0;
  }

  .container-card h1 {
      margin: 101px 1px 47px 13px;
  }

  .container-card .text {
      margin: 0 5px 19px;
      padding: 0 10%;
      font-size: 14px;
  }

  .container-card .links {
      padding: 5px 0 ;
      margin-top: 0;
      flex-direction: column;
      align-items: center;
  }

  .container-card .links div:nth-child(1), .container-card .links div:nth-child(3) {
      padding: 7px 0;
  }

  .container-card .links div:nth-child(1) p, .container-card .links div:nth-child(3) p {
      font-size: 14px;
  }
  
  .container-card .links div:nth-child(2) {
      width: 15.097px;
      height: fit-content;
      font-size: 10px;
      margin: 0;
      padding: 0 4px 0;
  }

  .container-card .status-code {
      margin: 42px 0 0 0;
      font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container-card h1 {
      font-size: 36px;
  }
}

@media screen and (max-width: 360px) {
  .container-card .text {
      padding: 0;
  }
}