main {
	height: 80vh;
	min-height: 400px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items:end;
}

.search_form--page {
	display: block;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.main__report {
	margin-top: auto;
}