.accordion {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

.accordion.open {
	max-height: 220px;
	/* Adjust the maximum height or use a value that suits your content */
}

.information,
.services {
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.information:not(.hidden),
.services:not(.hidden) {
	opacity: 1;
	transform: translateY(0);
}


/* Additional rule to hide accordion initially */
.accordion.hidden {
	display: none;
}