/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display—swap');

/**
 *
 * TODO: 
 *   -  Transfer general styles to a file called global.css
 *   -  Download fonts and self-host to a file called fonts.css
 *   -  Create a CSS file for templating the 404 and 403 pages
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #000;
    --heading-color: #E1A011;
    --link-color: #21536C;
    --bg-color: #fff;
}

html {
    background: #F6F6F6;
}

body {
    background: var(--bg-color);
    max-height: 800px;
}

body header {
    max-width: 1280px;
    margin: 0 auto;
}

header .header-card {
    display: flex;
    padding: 20px 10.94%;
    max-width: 1280px;
    max-height: 90px;
    justify-content: space-between;
}

.header-card .USC {
    display: flex;
    width: fit-content;
}

.USC .USC-logo {
    max-height: 50px;
    margin-left: 70px;
}

.USC .text {
    width: 230px;
    padding: 7px 0 4px;
    margin-left: 14px;
}

.text h4 {
    font-size: 12px;
    font-weight: 400;
}

.text h3 {
    font-size: 16px;
    font-weight: 600;
}

.Menu-Search-container {
    display: flex;
    width: 173px;
    max-height: 50px;
}

.Menu-Search-container .menu-container {
    padding: 13px 26px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--text-color);
    margin-right: 23px;
}

a {
    color: var(--text-color);
}

.menu-container a {
    display: flex;
}

a p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-right: 7px;
}

a .bxs-chevron-down {
    padding-top: 3px;
    font-size: 18px;
    max-height: 18px;
}

.Menu-Search-container .search-container {
    width: 50px;
    border-bottom: 1px solid var(--text-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.search-container a {
    height: 20px;
}

.search-container .bx-search {
    font-size: 20px;
}

body .container-card {
    max-width: 1000px;
    max-height: 610px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-card p {
    font-size: 20px;
}

.container-card a, footer a {
    text-decoration: underline;
    color: var(--link-color);
}

.container-card h1 {
    max-width: 608px;
    max-height: 117px;
    color: var(--heading-color);
    font-size: 64px;
    font-weight: 700;
    margin: 80px 0 28px;
    line-height: 120%;
}

.container-card .text {
    max-width: 942px;
    max-height: 74px;
    margin: 0 29px 30px;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
}

.container-card__403 .text{
    margin-top: 56px;
}

.container-card .links {
    width: 80%;
    padding: 0 13%;
    display: flex;
    justify-content: space-between;
}

.container-card .links div {
    padding-top: 10px;
}

.container-card .links div:nth-child(1) {
    max-width: 244px;
    max-height: 35px;
    text-align: center;
}

.container-card .links div:nth-child(2) {
    max-width: 37.765px;
    max-height: 36.661px;
}

.container-card .links div:nth-child(3) {
    max-width: 271px;
    max-height: 37px;
    text-align: right;
}

.container-card .status-code {
    max-width: 213px;
    max-height: 37px;
    margin: 63px 0 32.30%;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

footer {
    width: 100%;
    height: 140px;
    padding: 20px 50px;
    background: #F6F6F6;
    font-size: 14px;
    border-top: #D9D4D7 solid 3px;
}
.footer__container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.footer__links {
    padding-left: 25px;
    margin-right: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer__notice {
    max-width: 300px;
    max-height: 54px;
    line-height: 150%;
    letter-spacing: -0.154px;
}
.footer__notice img {
    width: 14px;
    height: 14px;
}


@media screen and (min-width: 1281px) {
    main, header {
        margin: 0 10%;
    }  

    .header-card, .container-card, footer {
        width: inherit;
    }
} 

@media screen and (max-width: 1150px) {
    .container-card .links {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

@media screen and (max-width: 1080px) {
    .footer__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
    .footer__links li {
        margin-left: 0;
        padding-bottom: 20px;
    }
    .footer__notice {
        font-size: 12px;
        margin-bottom: 17px;
    }
}

@media screen and (max-width: 900px) {
    .header-card {
        padding: 20px 24px 20px 32px;
    }

    body .container-card {
        max-height: 510px;
    }

    .container-card h1 {
        font-size: 50px;
    }

    .USC .USC-logo {
        margin-left: 0;
    }
    
    .container-card .text {
        margin: 0 5px 19px;
        padding: 0 10%;
        font-size: 14px;
    }
    
    .container-card .links {
        margin-top: 10px;
    }
    
    .container-card .links div:nth-child(1) p, .container-card .links div:nth-child(3) p {
        font-size: 14px;
    }
    
    .container-card .status-code {
        margin: 42px 0 81px 0;
        font-size: 14px;
    }

    .container-card .text br {
        display: none;
    }

    .footer-card .links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 810px) {
    body .container-card {
        max-height: 510px;
    }
}
 
@media screen and (max-width: 700px) {
    .USC .text {
        display: none;
    }

    footer {
        height: 180px;
        padding: 20px 30px;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__links {
        display: flex;
        margin-right: 0;
        height: fit-content;
        width: 100%;
        align-items: center;
    }
    .footer__notice {
        margin-top: 10px;
    }
}

@media screen and (max-width: 550px) {

    body .container-card {  
        margin: 0 27px 0;
    }

    .container-card h1 {
        margin: 101px 1px 30px 13px;
    }


    .container-card .links div:nth-child(1), .container-card .links div:nth-child(3) {
        padding: 7px 0;
    }

    
    .container-card .links div:nth-child(2) {
        width: 15.097px;
        height: fit-content;
        font-size: 10px;
        margin: 0;
        padding: 0 4px 0;
    }

    footer {
        height: 250px;
    }
    .footer__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
    .footer__links li {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 480px) {
    .container-card h1 {
        font-size: 36px;
    }

    .container-card .text {
        padding: 0;
    }

    .footer__links {
        margin-right: 0;
    }
}