/* Example CSS file */ 


/* Import font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display—swap');

/* Reset Design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

:root {
    --text-color: #000;
    --heading-color: #e1a011;
    --link-color: #21536C;
    --bg-color: #fff;
}