main {
	min-height: 600px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: end;
	padding-top: 30vh;
}

.search_form--page {
	display: block;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.main__report {
	margin-top: auto;
}