main {
	max-width: none;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.search {
	padding: 0 20px;
	width: 100%;
	height: 150px;
	position: relative;
	background-color: #F6F6F6;
}
.search-form {
	width: 100%;
	max-width: 320px;
	position: relative;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.search-form__label {
	width: 100%;
	position: absolute;
	top: -80px;
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}

.search-form__matches {
	position: absolute;
	top: -50px;
}


#search-input {
	width: 85%;
	height: 32px;
	position: absolute;
	top: -10px;
	left: 0;
	font-size: 16px;
}

#search-btn {
	width: 15%;
	height: 32px;
	position: absolute;
	top: -10px;
	right: 0;
	font-size: 16px;
}

#search-btn img {
	width: 15px;
	height: 15px;
	top: 32%;
}

.search-results {
	margin: 30px auto 50px auto;
	padding: 0 20px;
	width: 100%;
	max-width: 1000px;
}

.search-result {
	padding: 10px 40px 0 10px;
	width: 100%;
	max-width: 500px;
	min-height: 80px;
	display: inline-block;
	border-top: 1px solid #D9D4D7;
	position: relative;
	left: 50%;
	transform: translateX(-50%)
}

.search-result:not(:first-child) {
	margin-top: 30px;
}

.search-result__title {
	color: #21536c;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-decoration: underline;
}

.search-result__desc {
	margin-top: 10px;
	display: inline-block;
	color: #000000;
	font-weight: 400;
	font-size: 14px;
}

.search-result__chevron {
	width: 23px;
	height: 18px;
	position: absolute;
	right: 0;
	transform: rotate(-90deg);
}

@media screen and (min-width: 700px) {
	.search-form__label {
		top: -50px;
		left: -120px;
		font-size: 20px;
	}

	.search-form__matches {
		top: -20px;
		left: -120px;
	}

	#search-input {
		height: 40px;
		top: -40px;
		left: 50%;
	}
	
	#search-btn {
		height: 40px;
		top: -40px;
		right: -50%;
	}

	#search-btn img {
		width: 18px;
		height: 18px;
	}

	.search-result {
		max-width: 600px;
		padding-right: 60px;
	}
}

@media screen and (min-width: 800px) {
	.search-form__matches {
		top: -20px;
		left: -120px;
	}

	.search-result__title {
		font-size: 18px;
	}

	.search-result__desc {
		font-size: 16px;
	}
}

@media screen and (min-width: 900px) {
	.search-form {
		max-width: 400px;
	}

	.search-form__label {
		top: -55px;
		left: -140px;
		font-size: 25px;
	}

	.search-form__matches {
		top: -15px;
		left: -140px;
		font-size: 18px;
	}

	.search-results {
		margin: 50px auto 80px auto;
	}
}

@media screen and (min-width: 1100px) {
	.search-form {
		max-width: 460px;
	}

	.search-form__label {
		top: -65px;
		left: -180px;
		font-size: 30px;
	}

	.search-form__matches {
		top: -15px;
		left: -180px;
		font-size: 20px;
	}

	#search-input {
		width: 88%;
	}
	
	#search-btn {
		width: 12%;
	}

	.search-result {
		padding-top: 15px;
		padding-right: 80px;
		max-width: 750px;
		height: 100px;
	}

	.search-result:not(:first-child) {
		margin-top: 50px;
	}

	.search-result__title {
		font-size: 20px;
		line-height: 22px;
	}

	.search-result__desc {
		font-size: 18px;
	}
}